.main-card {
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    height: 50vh;
}

.row-card-list-group {
    top: 0%;
    right: 0%;
    /* width: 10%; */
    animation: scroller 35s infinite linear;
    transform: translateX(100%);
    transition: 2s;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.row-card-list-group .card-list {
    white-space: wrap;
    width: 450px;
}

@keyframes scroller {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}