  @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  /* background-color: #FBFDFC; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.43'%3E%3Cpolygon fill='%23d9daec' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23b8b6db' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239693cb' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23756fba' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23534CAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E"); */
  /* background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='%23cccdfa' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23999bf6' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236668f1' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%233336ed' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230004E8' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FEFFAD'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23fffff8'/%3E%3Cstop offset='1' stop-color='%23e4fc93'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23fffff0'/%3E%3Cstop offset='1' stop-color='%23bff97b'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffe9'/%3E%3Cstop offset='1' stop-color='%2392f464'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffe1'/%3E%3Cstop offset='1' stop-color='%235eed4e'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffda'/%3E%3Cstop offset='1' stop-color='%233ae64f'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23feffd2'/%3E%3Cstop offset='1' stop-color='%2327dd66'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23feffcb'/%3E%3Cstop offset='1' stop-color='%2325c27e'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23feffc3'/%3E%3Cstop offset='1' stop-color='%2325a68b'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23feffbc'/%3E%3Cstop offset='1' stop-color='%23248a8b'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23feffb4'/%3E%3Cstop offset='1' stop-color='%23225f71'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23FEFFAD'/%3E%3Cstop offset='1' stop-color='%231E3E59'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* font-family: 'Alata', sans-serif; */
  height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #e1dfdf3c;

}

a {
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: 0.8s;

}

.dropdown {
  transition: 0.8s;

}

#navbar {
  position: sticky;
  top: 0%;
  z-index: 1;
  transition: 1s ease;
}

.blured-bg {
  background: transparent;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#preloader {
  display: grid;
  place-items: center;
  height: 100vh;
  
  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    color: rgb(1, 35, 2);
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    &::after {
      color: #020b14;
      transform: rotateY(70deg);
      animation-delay: 0.4s;
    }
  
    @keyframes rotate {
      0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
      }
    }
  
    @keyframes rotateccw {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(-360deg);
      }
    }
  
    @keyframes spin {
      0%,
      100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
      }
      12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
      }
      25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
      }
      37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
      }
      50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
      }
      62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
      }
      75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
      }
      87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
      }
    }
  }
}