#home {
    width: 100%;
}

.Home-page {
    height: 100vh;
}

.Home-page .home-bg-image {
    background-image: url("/High School-bro.svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-bg-image .bg-transparent-color {
    background: #00000057;
    height: 100%;
    width: 100%;
    transition: 1s;
    display: grid;
    place-items: center;
}